{% extends 'films/base.html' %}

{% block title %}
    Список фильмов
{% endblock %}

{% block content %}
<h3 class="text-center mb-4">Лучшие фильмы, по версии наших зрителей</h3>

<div class="row">
    {% if films %}
        {% for film in films %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ film.movie_title }}</h5>
                        <p class="card-text">{{ film.film_content }}</p>
                        <p class="card-text"><strong>Рецензия:</strong> {{ film.review }}</p>
                        <p class="card-text text-muted"><small>Дата публикации: {{ film.pub_date }}</small></p>
                        <a href="#" class="btn btn-primary">Смотреть</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h4 class="text-center text-secondary">Фильмов пока еще нет.</h4>
    {% endif %}
</div>
{% endblock %}
