{% extends 'main/layoute.html' %}

{% load static %}

{% block title %}
    Кактус - Сила и красота природы
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-success mt-4">Кактус</h1>

        <!-- Место под фото -->
        <div class="text-center my-4">
            <img src="{% static 'main/img/cactus.jpg' %}" alt="Кактус" class="img-fluid rounded" style="max-width: 30%; height: auto;">
        </div>

        <p>
            Кактус — это растение, которое ассоциируется с жаркими пустынями, но в действительности существует множество
            разновидностей кактусов, которые прекрасно растут и в домашних условиях. Кактусы могут быть как миниатюрными,
            так и крупными, и они обладают уникальными свойствами, такими как способность хранить воду в своих тканях.
        </p>

        <h2 class="text-success mt-4">Особенности кактусов</h2>
        <ul>
            <li>Мясистые стебли, которые позволяют растениям хранить влагу.</li>
            <li>Колючки, которые служат защитой от животных и помогают сохранять влагу.</li>
            <li>Большое разнообразие видов и форм: от миниатюрных шариков до огромных деревоподобных кактусов.</li>
        </ul>

        <h2 class="text-success mt-4">Как ухаживать за кактусом?</h2>
        <p>
            Уход за кактусом достаточно прост, но требует соблюдения некоторых условий:
        </p>
        <ol>
            <li><b>Полив:</b> Умеренный, с большим интервалом между поливами. Важно не переувлажнять землю.</li>
            <li><b>Освещение:</b> Кактусы любят яркий солнечный свет, поэтому разместите их на солнечном подоконнике.</li>
            <li><b>Температура:</b> Кактусы предпочитают тепло, но не терпят сильной жары или холода.</li>
            <li><b>Пересадка:</b> Кактусы не любят частую пересадку, поэтому это нужно делать только по мере роста.</li>
        </ol>

        <p>
            Кактусы не только привлекают внимание своими необычными формами, но и очень неприхотливы в уходе. Это идеальные
            растения для тех, кто не имеет много времени для ухода за растениями, но при этом хочет добавить в дом экзотический
            элемент.
        </p>
    </div>
{% endblock %}
