{% extends 'main/layoute.html' %}

{% load static %}  <!-- Загружаем тег static -->

{% block title %}
    Главная - Комнатные цветы
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-success mt-4">Добро пожаловать на сайт о комнатных цветах!</h1>
        <p class="mt-3">
            На этом сайте вы найдете полезную информацию о различных комнатных растениях. Мы расскажем,
            как ухаживать за вашими любимыми цветами, чтобы они радовали вас своей красотой круглый год.
        </p>
        <h2 class="text-success mt-4">Популярные растения:</h2>
        <ul>
            <li><a href="{% url 'flower_ciklamen' %}">Цикламен</a> – удивительное растение с нежными цветами.</li>
            <li><a href="{% url 'flower_kaktus' %}">Кактус</a> – идеальный выбор для любителей минимального ухода.</li>
            <li><a href="{% url 'flower_tolstyanka' %}">Толстянка</a>, или денежное дерево – символ процветания и удачи.</li>
        </ul>
        <h2 class="text-success mt-4">Почему важно заботиться о комнатных растениях?</h2>
        <p>
            Комнатные растения не только украшают ваш дом, но и очищают воздух, создают уют и помогают снизить стресс.
            Правильный уход за цветами – это простой способ сделать ваш дом более живым и комфортным.
        </p>

       <!-- Панорама с картинкой -->
<div class="panorama mt-4"></div>




    </div>
{% endblock %}
